In [2]:
import pandas as pd


results = []
resultsItem = []
resultsQuantity = []

with open('/Users/roberta/Documents/IOSDEV/PythonLab/PythonTest/testo3.txt') as f:
    for line in f:
        print(line.strip().split("\n"))
        # a = line.strip().split("/n")
        results.append(line.strip().split(","))
        # resultsItem.append((a[0]))
        # resultsQuantity.append((a[1]))

# print(resultsItem)
# print(resultsQuantity)
df_from_textfile = pd.DataFrame(results,  columns=["Item", "Quantity"])
df_from_textfile

['apple, 1']
['Eggs, 4']
['Cheese, 25 kg']
['Milk, 1l']

     Item Quantity
0   apple        1
1    Eggs        4
2  Cheese    25 kg
3    Milk       1l