In [2]:
import pandas as pd


results = []
resultsItem = []
resultsQuantity = []

with open('/Users/roberta/Documents/IOSDEV/PythonLab/PythonTest/testo3.txt') as f:
    for line in f:
        print(line.strip().split("\n"))
        # a = line.strip().split("/n")
        results.append(line.strip().split(","))
        # resultsItem.append((a[0]))
        # resultsQuantity.append((a[1]))

# print(resultsItem)
# print(resultsQuantity)
df_from_textfile = pd.DataFrame(results,  columns=["Item", "Quantity"])
df_from_textfile

['apple, 1']
['Eggs, 4']
['Cheese, 25 kg']
['Milk, 1l']

     Item Quantity
0   apple        1
1    Eggs        4
2  Cheese    25 kg
3    Milk       1l

In [1]:
import glob
import pandas as pd

base_path = "/Users/roberta/Documents/IOSDEV/PythonLab/PythonTest//bbcsport/"
genres = ["athletics", "cricket", "football", "rugby", "tennis"]


def read_and_split_file(filename):
    with open(filename, 'r', encoding="latin-1") as f:
        lines = f.readlines()  # Get lines as a list of strings lines = list(map(str.strip, lines)) # Remove /n characters lines = list(filter(None, lines)) # Remove empty strings
        return lines


def get_df_from_genre(path, genre):
    files = glob.glob(path + genre + "/*.txt")
    titles = []
    subtitles = []
    bodies = []
    for f in files:
        lines = read_and_split_file(f)
        # First line is the title subtitles.append(lines[1]) # Second line is the subtitle bodies.append(' '.join(lines[2:])) # Combine all the rest
        titles.append(lines[0])
        subtitles.append(lines[1])
        bodies.append(' '.join(lines[2:]))

    return (pd.DataFrame({'genre': genre,
                         'title': titles, 'subtitle': subtitles, 'body': bodies
                          })
            )


final_df = pd.concat([get_df_from_genre(base_path, g) for g in genres])
final_df

,genre,title,subtitle,body
0,athletics,McIlroy wins 800m indoor title\n,\n,James McIlroy motored to the AAA's Indoor 800m...
1,athletics,Pavey focuses on indoor success\n,\n,Jo Pavey will miss January's View From Great E...
2,athletics,Greek pair set for hearing\n,\n,Kostas Kenteris and Katerina Thanou will fight...
3,athletics,Freeman considers return to track\n,\n,Former Olympic champion Cathy Freeman said she...
4,athletics,Event devised to nurture athletes\n,\n,UK Athletics has launched a new outdoor series...
...,...,...,...,...
95,tennis,Capriati out of Australian Open\n,\n,Jennifer Capriati has become the third leading...
96,tennis,Henin-Hardenne beaten on comeback\n,\n,Justine Henin-Hardenne lost to Elena Dementiev...
97,tennis,Moya sidesteps Davis Cup in 2005\n,\n,Carlos Moya has chosen not to help Spain try a...
98,tennis,Australia miss Molik for Fed Cup\n,\n,Australia will be without their leading player...
99,tennis,Rusedski forced out in Marseille\n,\n,Greg Rusedski was forced to withdraw from the ...